@import './colors/colores.scss';

.inicio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    background-color: $blanco;
    color: black;

    .search {
        margin-bottom: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            margin-bottom: 32px;
            text-align: center;
        }

        .search_input {
            background: #f8f9fa;
            padding-left: 16px;
            width: 500px;
            height: 50px;
            border-radius: 20px;
            border: 2px solid #f8f9fa;

            &:focus {
                outline: none;
            }
        }
    }
}